# Q1. List any five functions of the pandas library with execution.

1) read_csv(): Used to read data from a CSV file and create a DataFrame.

In [2]:
#import pandas as pd
#df = pd.read_csv('example.csv')

2) head(): Displays the first n rows of a DataFrame.

In [3]:
#df.head()

3) groupby(): Groups the data in a DataFrame based on a specified column and allows for aggregation operations.

In [4]:
#grouped_data = df.groupby('Category')['Price'].mean()

4) pivot_table(): Creates a pivot table for data summarization and aggregation.

In [5]:
#pivot_table = df.pivot_table(index='Category', values='Sales', aggfunc='sum')

5) merge(): Combines two or more DataFrames based on a common column or index.

In [6]:
#merged_df = pd.merge(df1, df2, on='common_column')

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [10]:
import pandas as pd 

def reindex_dataframe(df):
    
    df = df.reset_index(drop=True)
    df.index = df.index * 2 + 1
    return df

data = {'A' : [10,20,30,40], 'B' : [50,60,70,80,], 'C' : [90,100,110,120]}
df = pd.DataFrame(data)

my_reindex = reindex_dataframe(df)

print(df)

print("\n")

print(my_reindex)

    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120


    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60. the console.

In [15]:
import pandas as pd

data_value = {'Values' : [10, 20, 30, 40, 50]}

df1 = pd.DataFrame(data_value)
column = df1['Values']

sum_first_three = column.head(3).sum()

print("sum of first three values :", sum_first_three)

sum of first three values : 60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [16]:
import pandas as pd

text_data = {'Text' : ["This is Gaurav","I am learning pandas from PW Skill","This is all about me","Thank you sir"]}

df2 = pd.DataFrame(text_data)

df2['Word_Count'] = df2['Text'].apply(lambda x: len(str(x).split()))

print(df2)

                                 Text  Word_Count
0                      This is Gaurav           3
1  I am learning pandas from PW Skill           7
2                This is all about me           5
3                       Thank you sir           3

# Q5. How are DataFrame.size() and DataFrame.shape() different?

1) DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame.

-It calculates the size by multiplying the number of rows by the number of columns.

-The result is a single integer representing the total number of cells or elements in the DataFrame.

In [22]:
import pandas as pd 

data1 = {'A' : [1,2,3], 'B' : [4,5,6], 'C' : [7,8,9]}

df3 = pd.DataFrame(data1)

DataFrame_size = df3.size

DataFrame_size

9

2) DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame.

-The tuple contains two values: the number of rows and the number of columns.

-It provides a convenient way to get both dimensions at once.

In [26]:
data1 = {'A' : [1,2,3], 'B' : [4,5,6], 'C' : [7,8,9]}

df3 = pd.DataFrame(data1)

DataFrame_shape = df3.shape

DataFrame_shape

(3, 3)

# Q6. Which function of pandas do we use to read an excel file?

To read an Excel file in Pandas, we can use the pd.read_excel() function. This function is specifically designed to read data from Excel files. 

Here's an example of how to use it.

In [28]:
#import pandas as pd

#df = pd.read_excel('Our_file.xlsx')

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [66]:
import pandas as pd

email_data = {'Email' : ['gaurav@gmail.com', 'pw@gmail.com', 'sudhanshusir@gmail.com','alakhsir@gmail.com', 'krishsir@gmail.com']}

df4 = pd.DataFrame(email_data)

df4['Username'] = df4['Email'].str.split('@').str[0]

#print(df4)
df4

                    Email      Username
0        gaurav@gmail.com        gaurav
1            pw@gmail.com            pw
2  sudhanshusir@gmail.com  sudhanshusir
3      alakhsir@gmail.com      alakhsir
4      krishsir@gmail.com      krishsir

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [42]:
selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
   
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [65]:
import pandas as pd 

data_value = {'Values' : [10,20,30,40,50,60]}

df6 = pd.DataFrame(data_value)

#df6.describe()

mean_value = df6['Values'].mean()
median_value = df6['Values'].median()
std_deviation = df6['Values'].std()

print("Mean: " ,mean_value)
print("Median: ",median_value)
print("Standard Deviation: ",std_deviation)

df6

Mean:  35.0
Median:  35.0
Standard Deviation:  18.708286933869708

   Values
0      10
1      20
2      30
3      40
4      50
5      60

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [64]:
import pandas as pd

sales_data = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07'],
        'Sales': [10, 15, 20, 25, 30, 35, 40]}

df7 = pd.DataFrame(sales_data)

df7['Date'] = pd.to_datetime(df7['Date'])

df7 = df7.sort_values(by='Date')

df7['MovingAverage'] = df7['Sales'].rolling(window=11, min_periods=1).mean()

#print(df7)
df7

        Date  Sales  MovingAverage
0 2023-09-01     10           10.0
1 2023-09-02     15           12.5
2 2023-09-03     20           15.0
3 2023-09-04     25           17.5
4 2023-09-05     30           20.0
5 2023-09-06     35           22.5
6 2023-09-07     40           25.0

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

In [63]:
import pandas as pd

data_date = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df8 = pd.DataFrame(data_date)

df8['Date'] = pd.to_datetime(df8['Date'])

df8['Weekday'] = df8['Date'].dt.day_name()

#print(df8)
df8

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [67]:
import pandas as pd

Date_data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05']}
df9 = pd.DataFrame(Date_data)

df9['Date'] = pd.to_datetime(df9['Date'])

selected_rows = df9[(df9['Date'] >= '2023-01-01') & (df9['Date'] <= '2023-01-31')]

df9

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20
3 2023-02-05

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs tobe imported?

Answer :- 

The first and foremost library that needs to be imported to use the basic functions of Pandas is the Pandas library itself.

You can import Pandas using the following line:

import pandas as pd